<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="nav">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button aria-expanded="false" class="navbar-toggle collapsed"
                        data-target="#bs-example-navbar-collapse-1"
                        data-toggle="collapse" type="button">
                    <span class="sr-only">My Community </span>
                </button>
                <a class="navbar-brand" href="/">My Community</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input class="form-control" placeholder="搜索问题" type="text">
                    </div>
                    <button class="btn btn-default" type="submit">搜索</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li th:if="${session.user != null}"><a href="/publish">提问</a></li>
                    <li class="dropdown" th:if="${session.user != null}">
                        <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown"
                           href="#"
                           role="button">
                            <span th:text="${session.user.getName()}"></span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">我的问题</a></li>
                            <li><a href="#">退出登录</a></li>
                        </ul>
                    </li>
                    <li th:if="${ session.user == null }">
                        <a href="https://github.com/login/oauth/authorize?client_id=a53f6b7899a95e1d72dc&
                    redirect_uri=http://localhost:8887/callback&scope=user&state=1">登录</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</div>

</body>

</html>